<form class="col-12 col-lg-8 mb-3 mb-lg-0 me-auto" role="search" action="/">
    <input asp-page="/" asp-route-id="" id="searchBar" type="text" class="form-control" placeholder="Search..." aria-label="Search">
</form>